@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #FEFBF3;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   }
   h1, h3, p{
     text-align:center;
   }
   
   .graph {
     margin: 0 auto;
     
   }
   
   .tooltip {
     background-color: #C2F784;
     border: 1px solid black;
     width: 100px;
     opacity: 0;
     color: black;
     position: absolute;
   }
